@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.text-color-orange {
    color: #9C4B00
}

.text-color-gray {
    color: #999999
}

.bg-color-orange {
    background-color: #9C4B00
}

.moreLikes {
    font-size: 11px;
    color: #A8A8A8;
}

.rating {
    font-size: 11px;
    color: #FFF;
}